@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');
body {
    text-align: center;
    background-color:black;
     color:white;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 1%;
}
h1 {
    font-size: 32px;
    font-weight: 900;
    color:#33A8DB;
}
p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 18.78px;
}
.banner {
    background-image: url(../images/banner.png);
    
}
#transform-world{
    text-align:left;
    background-image: url(../images/woman-code.png);
    width: 1440px;
    height: 363px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid rgba(51, 168, 219, 1);
    border-top: 1px solid rgba(51, 168, 219, 1);
}
#transform-world h2{
    font-family: 'Raleway';
    color:#33A8DB;
    font-weight: 700;
}
#transform-world p{
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 40px;
    text-transform: lowercase;
    width: 300px;
    height: 141px;
    line-height: 46.96px;
    color: rgba(255, 255, 255, 1);
    text-shadow: 3px 3px rgba(51, 168, 219, 1);
    box-shadow: 1px 1px 1px 1px  rgba(51, 168, 219, 1);
    position: relative;
    left:9%;
    top: 20%;
}
.banner-content{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(49, 168, 221, 0.1) 100%);
    width: 1440px;
    height: 405px;
    border-bottom: 1px solid rgba(51, 168, 219, 1);

    ;
}
button{
    font-size:  16px;
    font-weight: 900;
    text-align: center;
    color:rgba(51, 168, 219, 1);
    width: 254px;
    height: 40px;
    border: 2px solid rgba(51, 168, 219, 1);
    background-color: rgba(0, 0, 0, 0.3);
}
.modules-list{
    width: 1400px;
    height: 300px;
    margin: 0;

}
.module{
    border: 1px solid rgba(51, 168, 219, 1);
    border-radius: 57px;
    background-color: rgba(37, 37, 37, 1);
    width: 535px;
    height: 51px;
    font-size: 16px;
    font-weight: 400;
    margin-left: 100px;
    margin-top: 15px;
    line-height: 18.78px;
    text-align: center;
    padding: 1px;
    gap: 10px;
  
}
span{
    color: rgba(51, 168, 219, 1);
}
#course-content{
    height: 325px;
    width: 792px;
    margin-top: 100px;
    margin-left: 324px;
    text-align: center;
    grid-gap: 24px;
}
#course-content h2{
    color: rgba(51, 168, 219, 1);
    font-family: 'Raleway';

}

footer{
    text-align: center;
    border-top: 1px solid #33A8DB;
}
a{
    color: #33A8DB;
   font-weight: bold;
}
#professional-challenges h2{
    color: rgba(51, 168, 219, 1);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 32px;
    line-height: 37.57px;    
    letter-spacing: 0.19em;
}